/* Navbar Styling */
.navbar {
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
    padding: 15px 30px;
    background: linear-gradient(135deg, #ffffff, #d6d1d4);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid #ddd;
    font-family: 'Poppins', sans-serif;
}
.navbar-title{
    font-size: 32px;
    font-weight: bold;
    color: #ff758c;
    text-transform: uppercase;
}



/* Logout Button */
.logout-btn{
    background-color: #ff4d4d;
    color: white;
    padding: 10px 18px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.logout-btn:hover {
    background-color: #cc0000;
    transform: scale(1.1);
}
